<!doctype html>
<html ng-app>
  <head>
    <script src="es5-shim-2.3.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
    <script src="sprintf-0.7.js"></script>
    <script src="bom-generator.js"></script>
  </head>
  <body>
    <div ng-controller="BomCtrl">
      <ol>
        <li ng-repeat="guide in guides">
          <label>Guide URL:</label>
          <input type="text" ng-model="guide.url" placeholder="Enter a guide URL here">
        </li>
      </ol>

      <button ng-click="generate()">Generate BOM</button>
      
      <hr>
      
      <pre>{{wikiMarkup}}</pre>
    </div>
  </body>
</html>
